# Trabalho Final – Programando IA com Python

#### Bibliotecas principais

In [1]:
import pandas as pd
import numpy as np

## 1. Leia o arquivo lemonades.csv usando pandas

In [14]:
Lemonades = pd.read_csv('data/Lemonades.csv', delimiter=';')
Lemonades.head()

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  07/01/2016     Park     97      67           70      90.0   0.25
1  07/02/2016     Park     98      67           72      90.0   0.25
2  07/03/2016     Park    110      77           71     104.0   0.25
3  07/04/2016    Beach    134      99           76      98.0   0.25
4  07/05/2016    Beach    159     118           78     135.0   0.25

## 2. Retorne as informações sobre as colunas e as principais estatísticas sobre o dataset

#### °Formato do dataframe: linhas x colunas

In [15]:
print('formato: ', Lemonades.shape)

formato:  (32, 7)

In [4]:
#tipo de dados por colunas
print(Lemonades.dtypes)

Date            object
Location        object
Lemon            int64
Orange           int64
Temperature      int64
Leaflets       float64
Price          float64
dtype: object

#### °Principais estatísticas

In [5]:
print(Lemonades.describe())

#Categóricos
print('\n',Lemonades.groupby(by =['Location']).size())

            Lemon      Orange  Temperature    Leaflets      Price
count   32.000000   32.000000    32.000000   31.000000  32.000000
mean   116.156250   80.000000    78.968750  108.548387   0.354688
std     25.823357   21.863211     4.067847   20.117718   0.113137
min     71.000000   42.000000    70.000000   68.000000   0.250000
25%     98.000000   66.750000    77.000000   90.000000   0.250000
50%    113.500000   76.500000    80.500000  108.000000   0.350000
75%    131.750000   95.000000    82.000000  124.000000   0.500000
max    176.000000  129.000000    84.000000  158.000000   0.500000

 Location
Beach    17
Park     15
dtype: int64

#### °Estátiscas por localização

In [6]:
print('Média')
print(Lemonades.groupby(by =['Location']).mean())
print('\nMediana')
print(Lemonades.groupby(by =['Location']).median())
print('\nQuantidade')
print(Lemonades.groupby(by =['Location']).count())
print('\nDesvio Padrão')
print(Lemonades.groupby(by =['Location']).std())
print('\nMínimo')
print(Lemonades.groupby(by =['Location']).min())
print('\nMáximo')
print(Lemonades.groupby(by =['Location']).max())

Média
               Lemon     Orange  Temperature    Leaflets     Price
Location
Beach     118.823529  82.470588    79.705882  108.058824  0.305882
Park      113.133333  77.200000    78.133333  109.142857  0.410000

Mediana
          Lemon  Orange  Temperature  Leaflets  Price
Location
Beach       122      85           81     108.0   0.25
Park        110      75           80     106.0   0.50

Quantidade
          Date  Lemon  Orange  Temperature  Leaflets  Price
Location
Beach       16     17      17           17        17     17
Park        15     15      15           15        14     15

Desvio Padrão
              Lemon     Orange  Temperature   Leaflets     Price
Location
Beach     25.476056  21.940595     3.077432  20.882022  0.098238
Park      26.765828  22.191375     4.940600  19.914653  0.105560

Mínimo
          Lemon  Orange  Temperature  Leaflets  Price
Location
Beach        76      47           74      68.0   0.25
Park         71      42           70      90.0   0.25

Máximo
          Lemon  Orange  Temperature  Leaflets  Price
Location
Beach       162     120           84     135.0    0.5
Park        176     129           84     158.0    0.5

## 3. Realize a limpeza do dataset:

### a. verifique se existe valores nulos

In [7]:
Lemonades.isna().sum()

Date           1
Location       0
Lemon          0
Orange         0
Temperature    0
Leaflets       1
Price          0
dtype: int64

### b. verifique e remova, se existir, linhas duplicadas

In [8]:
#Verifica valor faltante
Lemonades[Lemonades.duplicated()]

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
6  07/06/2016    Beach    103      69           82      90.0   0.25

In [9]:
#Exclui Linhas encontradas
Lemonades = Lemonades.drop_duplicates()

In [10]:
#Verifica se ainda temos linhas duplicadas
Lemonades[Lemonades.duplicated()]

Empty DataFrame
Columns: [Date, Location, Lemon, Orange, Temperature, Leaflets, Price]
Index: []

### c. trate os elementos faltantes (interpolação (data) e media)

In [16]:
#Tratamento da Coluna Leaflets
Lemonades['Leaflets'] = Lemonades['Leaflets'].fillna(Lemonades['Leaflets'].mean())
Lemonades.isna().sum()

Date           1
Location       0
Lemon          0
Orange         0
Temperature    0
Leaflets       0
Price          0
dtype: int64

## 4. Adicione uma coluna chamada "Sales" que contém o total de vendas de limão e laranja

In [18]:
Lemonades['Sales'] = Lemonades['Orange'] + Lemonades['Lemon']
Lemonades.head()

         Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sales
0  07/01/2016     Park     97      67           70      90.0   0.25    164
1  07/02/2016     Park     98      67           72      90.0   0.25    165
2  07/03/2016     Park    110      77           71     104.0   0.25    187
3  07/04/2016    Beach    134      99           76      98.0   0.25    233
4  07/05/2016    Beach    159     118           78     135.0   0.25    277

## 5. Adicione uma coluna chamada "Revenue" que calcula o lucro (venda*preço)

In [19]:
Lemonades['Revenue'] = Lemonades['Sales'] * Lemonades['Price']
Lemonades.head()

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sales,Revenue
0,07/01/2016,Park,97,67,70,90.0,0.25,164,41.00
1,07/02/2016,Park,98,67,72,90.0,0.25,165,41.25
2,07/03/2016,Park,110,77,71,104.0,0.25,187,46.75
3,07/04/2016,Beach,134,99,76,98.0,0.25,233,58.25
4,07/05/2016,Beach,159,118,78,135.0,0.25,277,69.25

## 6. Escreva uma função que retorne o lucro total

In [20]:
def calc_total(df):
    return df['Revenue'].sum()

print(calc_total(Lemonades))

2181.0

## 7. Escreva uma função que receba dois parâmetros, dataset e temp(int). Se temp for 1, ele retorna a máxima temperatura observada no conjunto de dados; se 0, retorna a média do período observado; se -1, retorna a temperatura mínima

In [22]:
def multi_calculate(df, temp):
    if temp == 1:
        return df['Temperature'].max()
    elif temp == 0:
        return df['Temperature'].mean()
    elif temp == -1:
        return df['Temperature'].min()
    
print(multi_calculate(Lemonades, 1))
print(multi_calculate(Lemonades, 0))
print(multi_calculate(Lemonades, -1))

84
78.96875
70

## 8. Escreva uma função que receba dois parâmetros (dataset, localização) e retorne o dataset com o preço do limão e laranja ajustados em 15% se a localização for 'Park' ou ajustados em 10% se a localização for 'Beach'

In [30]:
def discount(df, loc):
    if loc == 'Park':
        df['Price'] = df['Price'] * 0.85
        return df 
    elif loc == 'Beach':
        df['Price'] = df['Price'] * 0.90
        return df 
    else:
        return 'You need to specify Park or Beach'

In [31]:
df = discount(Lemonades, 'Park')
df.head()

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sales,Revenue
0,07/01/2016,Park,48.251801,67,70,90.0,0.2125,164,41.00
1,07/02/2016,Park,48.749242,67,72,90.0,0.2125,165,41.25
2,07/03/2016,Park,54.718537,77,71,104.0,0.2125,187,46.75
3,07/04/2016,Beach,66.657127,99,76,98.0,0.2125,233,58.25
4,07/05/2016,Beach,79.093159,118,78,135.0,0.2125,277,69.25

In [32]:
df = discount(Lemonades, 'Beach')
df.head()

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sales,Revenue
0,07/01/2016,Park,48.251801,67,70,90.0,0.19125,164,41.00
1,07/02/2016,Park,48.749242,67,72,90.0,0.19125,165,41.25
2,07/03/2016,Park,54.718537,77,71,104.0,0.19125,187,46.75
3,07/04/2016,Beach,66.657127,99,76,98.0,0.19125,233,58.25
4,07/05/2016,Beach,79.093159,118,78,135.0,0.19125,277,69.25

## 9. Escreva uma função que receba o dataset como parâmetro e retorne o dataset com uma coluna a mais que mostre o rank de temperatura. O dataset retornado precisa estar ordenado de acordo com rank (descendente)

## 10. Imprima um gráfico de linha que retorne o lucro ao longo do tempo

## 11. Crie um scatter-plot leaflets x sales. Existe alguma correlação entre os dados? (Use a correlação de Pearson e explique o significado do valor obtido por ela)

## 12. Crie um histograma com 10 bins que mostre o lucro (revenue)

## 13. Crie um gráfico de linha que mostre o lucro por tipo de fruta ao longo do tempo

## 14. Ajuste uma Regressão Linear aos dados para predizer vendas usando cada uma das features abaixo:

###  a. Temperature

###  b. Leaflets

###  c. Price

## 15. Retorne um gráfico com a reta ajustada aos dados para cada feature e diga se ela é uma variável boa ou não para predizer vendas. Comente o resultado obtido

## 16. Ajuste uma Regressão Linear aos dados para predizer vendas usando as três features juntas. Comente o resultado obtido

## 17. Generalize o algoritmo de Regressão Linear implementada em sala para que ele possa ser usado para regressão multivariada

## 18. Aplique o algoritmo implementado na questão 16 no conjunto de dados consumo_cerveja.csv usando as mesmas features para treinamento:

## 19. Compare os resultados que você obteve com os resultados obtidos através da Scikit Learning

## 20. Prediga o consumo usando seu modelo e o modelo da sklearn

## 21. Calcule o MSE de ambos