# Trabalho Final – Programando IA com Python

#### Bibliotecas principais

In [31]:
import pandas as pd
import numpy as np

## 1. Leia o arquivo lemonades.csv usando pandas

In [44]:
Lemonades = pd.read_csv('Lemonades.csv', delimiter=';')
Lemonades.head()

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  07/01/2016     Park     97      67           70      90.0   0.25
1  07/02/2016     Park     98      67           72      90.0   0.25
2  07/03/2016     Park    110      77           71     104.0   0.25
3  07/04/2016    Beach    134      99           76      98.0   0.25
4  07/05/2016    Beach    159     118           78     135.0   0.25

## 2. Retorne as informações sobre as colunas e as principais estatísticas sobre o dataset

#### °Formato do dataframe: linhas x colunas

In [45]:
print('formato: ', Lemonades.shape)

formato:  (32, 7)

In [46]:
#tipo de dados por colunas
print(Lemonades.dtypes)

Date            object
Location        object
Lemon            int64
Orange           int64
Temperature      int64
Leaflets       float64
Price          float64
dtype: object

#### °Principais estatísticas

In [47]:
print(Lemonades.describe())

#Categóricos
print('\n',Lemonades.groupby(by =['Location']).size())

            Lemon      Orange  Temperature    Leaflets      Price
count   32.000000   32.000000    32.000000   31.000000  32.000000
mean   116.156250   80.000000    78.968750  108.548387   0.354687
std     25.823357   21.863211     4.067847   20.117718   0.113137
min     71.000000   42.000000    70.000000   68.000000   0.250000
25%     98.000000   66.750000    77.000000   90.000000   0.250000
50%    113.500000   76.500000    80.500000  108.000000   0.350000
75%    131.750000   95.000000    82.000000  124.000000   0.500000
max    176.000000  129.000000    84.000000  158.000000   0.500000

 Location
Beach    17
Park     15
dtype: int64

#### °Estátiscas por localização

In [48]:
print('Média')
print(Lemonades.groupby(by =['Location']).mean())
print('\nMediana')
print(Lemonades.groupby(by =['Location']).median())
print('\nQuantidade')
print(Lemonades.groupby(by =['Location']).count())
print('\nDesvio Padrão')
print(Lemonades.groupby(by =['Location']).std())
print('\nMínimo')
print(Lemonades.groupby(by =['Location']).min())
print('\nMáximo')
print(Lemonades.groupby(by =['Location']).max())

Média
               Lemon     Orange  Temperature    Leaflets     Price
Location
Beach     118.823529  82.470588    79.705882  108.058824  0.305882
Park      113.133333  77.200000    78.133333  109.142857  0.410000

Mediana
          Lemon  Orange  Temperature  Leaflets  Price
Location
Beach       122      85           81     108.0   0.25
Park        110      75           80     106.0   0.50

Quantidade
          Date  Lemon  Orange  Temperature  Leaflets  Price
Location
Beach       16     17      17           17        17     17
Park        15     15      15           15        14     15

Desvio Padrão
              Lemon     Orange  Temperature   Leaflets     Price
Location
Beach     25.476056  21.940595     3.077432  20.882022  0.098238
Park      26.765828  22.191375     4.940600  19.914653  0.105560

Mínimo
          Lemon  Orange  Temperature  Leaflets  Price
Location
Beach        76      47           74      68.0   0.25
Park         71      42           70      90.0   0.25

Máximo
          Lemon  Orange  Temperature  Leaflets  Price
Location
Beach       162     120           84     135.0    0.5
Park        176     129           84     158.0    0.5

## 3. Realize a limpeza do dataset:

### a. verifique se existe valores nulos

In [49]:
Lemonades.isna().sum()

Date           1
Location       0
Lemon          0
Orange         0
Temperature    0
Leaflets       1
Price          0
dtype: int64

### b. verifique e remova, se existir, linhas duplicadas

In [50]:
#Verifica valor faltante
Lemonades[Lemonades.duplicated()]

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
6  07/06/2016    Beach    103      69           82      90.0   0.25

In [51]:
#Exclui Linhas encontradas
Lemonades = Lemonades.drop_duplicates()

In [52]:
#Verifica se ainda temos linhas duplicadas
Lemonades[Lemonades.duplicated()]

Empty DataFrame
Columns: [Date, Location, Lemon, Orange, Temperature, Leaflets, Price]
Index: []

### c. trate os elementos faltantes (interpolação (data) e media)

In [54]:
#Tratamento da Coluna Leaflets
Lemonades['Leaflets'] = Lemonades['Leaflets'].fillna(Lemonades['Leaflets'].mean())
Lemonades.isna().sum()

Date           1
Location       0
Lemon          0
Orange         0
Temperature    0
Leaflets       0
Price          0
dtype: int64